/* Global CSS file used for styling the different pages of the website */

html, body {
  background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  width: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

.airing-date-container {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 24px;
  max-width: 90vh;
}

.airing-date-countdown {
  margin-top: 6%;
}


@media screen and (max-width: 500px) {
  .airing-date-container {
    font-size: 10px;
  }
}
